@using SimpleMap.Models

@{
    ViewBag.Title = "Home Page";
    Random _rand = new Random();
}

<style>
    .smallBox {
        max-width: 30px;
        text-align: center
    }

    .mediumBox {
        max-width: 70px;
        text-align: center
    }

    body {
        padding-top: 2px;
        height: 95vh;
    }

    .characterImage {
        background-size: 100%;
        width: 100%;
        height: 100%;
    }

    .nameClick {
        width: 100%;
        color: black;
        text-align: center;
        vertical-align: top;
        font-size: medium;
        text-decoration: underline;
    }

    .characterDetails{
        display:none;
        padding-left:5px;
    }

    .characterDetails > div {
        margin-bottom: 3px;
    }

    .hpTracker {
        width: 100%;
        color: black;
        text-align: center;
    }

    td {
        width: 12%;
        border: 2px solid black;
    }

    #theMap {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-image: url('/Content/Maps/FirstPeninsula.jpg');
        width: 1000px;
        height: 1000px;
    }

    .padLeft5 {
        padding-left: 5px;
    }

    .marginTop5 {
        margin-top: 5px;
    }

    #mapMargin{
        margin-top:300px;
    }

    #char-table-container {
        background-color: white;
        z-index: 1;
        height: 300px;
        position: fixed;
        top:0;
        z-index:99;
    }

    #characterTable {
        width: 100%;
        background-color: whitesmoke;
    }

    #toolBar {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .characterDraggy{
        font-size: smaller;
    }

    .playerId {
        display:none;
    }

    #garbage:hover{
        background-color:red;
        position:fixed;
        max-width:100px;
    }
</style>

<div>
    <div id="char-table-container">
        <table id="characterTable">
            <tr>
                @foreach (Character c in ViewBag.Chars)
                {
                    <td>
                        <div id="@c.Player" class="characterDraggy" draggable="true">
                            <div class="playerId">@c.PlayerID</div>
                            <div class="nameClick">@c.Name</div>
                            <div class="characterImg">
                                <img class="characterImage" src="../../Content/CharacterPics/@c.Image" draggable="false" />
                            </div>
                            <div class="characterDetails marginTop5">
                                <div style="display:inline">@c.Race</div><div class="padLeft5" style="display:inline">@c.Class</div>
                                <div class="marginTop5">Condition: @Html.TextBoxFor(model => c.Condition, new { @class = "condition mediumBox" })</div>
                            </div>
                            <div class="marginTop5">
                                <div class="padLeft5" style="display:inline; margin-right:10px">AC: @Html.TextBoxFor(model => c.AC, new { @class = "ac smallBox" })</div>
                                <div class="hpTracker" style="display:inline; margin-right:10px">HP: @Html.TextBoxFor(model => c.HP, new { @class = "hp smallBox" })/@Html.TextBoxFor(model => c.TotalHP, new { @class = "totalHp smallBox" })</div>
                            </div>
                            <div class="marginTop5">
                                <div class="padLeft5" style="display:inline; margin-right:10px">Level: @Html.TextBoxFor(model => c.Level, new { @class = "level smallBox" })</div>
                                <div class="xpTracker" style="display:inline; margin-right:10px">XP: @Html.TextBoxFor(model => c.XP, new { @class = "xp smallBox" })</div>
                            </div>
                            <div class="marginTop5">
                                <div class="padLeft5" style="display:inline; margin-right:10px">CP: @Html.TextBoxFor(model => c.CP, new { @class = "cp smallBox" })</div>
                                <div class="hpTracker" style="display:inline">SP: @Html.TextBoxFor(model => c.SP, new { @class = "sp smallBox" })</div>
                                <div class="xpTracker" style="display:inline">GP: @Html.TextBoxFor(model => c.GP, new { @class = "gp smallBox" })</div>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        </table>
        <div id="toolBar">
            <div style="display:inline;">
                <a id="hideChars" class="btn btn-default">Hide/Show Characters</a>
            </div>
            <div id="playerHolder" style="display:inline; margin-left:30px">
                @foreach (Character c in ViewBag.Chars)
                {
                    string initial = c.Name[0].ToString();
                    string num = _rand.Next(1, 1000).ToString();
                    string playerId = initial + num + "_figure";
                    <div id="@playerId" class="figurine player" draggable="true" ondragstart="drag_start(event)">@initial</div>
                }
            </div>

            <div style="display:inline; margin-left:10px;">@Html.DropDownList("MapSelect", (IEnumerable<SelectListItem>)ViewBag.Maps)</div>
            <div style="display:inline; margin-left:10px;"><a id="saveChars" class="btn btn-success">Save Chars</a></div>
            <div style="display:inline; margin-left:10px;"><a id="reduceMapSizeBtn" class="btn btn-info">Smallify Map</a></div>
            <div style="display:inline; margin-left:10px;"><a id="increaseMapSizeBtn" class="btn btn-info">Bigify Map</a></div>
            <div style="display:inline; margin-left:10px;"><a id="btnFogEntireMap" class="btn btn-default">Fog All</a></div>
            <div style="display:inline; margin-left:10px;"><a id="btnDeFogEntireMap" class="btn btn-warning">UnFog</a></div>
        </div>
    </div>
    <div id="mapMargin">
        <div ondragover="drag_over(event)" ondrop="drop(event)">
            <div id="mapContainer">
                <div id="theMap">
                </div>
                <canvas id="canvas" class="overlay"></canvas>
            </div>
        </div>
    </div>
</div>

